body {
 font-family: 'Bonbon', cursive; 
}

header {
  padding: 30px;
  background: #21d0b9;
  background-image: url('https://images.unsplash.com/photo-1481858203162-e46b5e60dc0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  font-family: 'Geostar', cursive;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #fde87c;
}

article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #4f0d5a;
  color: #fff;
}
