header {
  background: #21d0b9;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #fde87c;
}

article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #4f0d5a;
  color: #fff;
}
